* {
    
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
    background:#000;
    height:500px;
}

.main-calc .container {
    margin:30px auto;
    text-align: center;
    width:80%;
    height:414px;
}

@media(max-width:420px) { 
    .main-calc .container {
        margin:30px auto;
        text-align: center;
        width:99%;
        height:100%;
    }
}

.main-calc input[type="text"] {
    width:100%;
    height:60px;
    outline:0;
    border:0;
    text-align: right;
    padding-right:15px;
    font-size:20px;
    font-weight: bold;
    color:white;
    background:#171717;
}

.main-calc button {
    border:0;
    outline:0;
    margin-bottom:1px;
    cursor: pointer;
}

.row-oprtion {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.row-oprtion button {
   width:100%;
   height:70px;
   background: #333333;
   color: white;
   transition:all .5s ease-in-out;
   opacity:.5;
}

.row-oprtion button:hover {
    opacity:1;
}


.row-oprtion button:first-child {
    margin:0;
}

.column-side {
    display: flex;
    flex-flow: column;
    justify-content: right;
    margin-top:-284px;
    margin-right:-1.6px;
}

@media(min-width:240px) and (max-width:301px) { 
    .column-side {
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin-top:-465px;
        margin-right:-1.6px;
    }
}


@media(min-width:302px) and (max-width:320px) { 
    .column-side {
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin-top:-376px;
        margin-right:-1.6px;
    }
}

@media(min-width:321px) and (max-width:360px) { 
    .column-side {
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin-top:-444px;
        margin-right:-1.6px;
    }
}

@media(min-width:361px) and (max-width:380px) { 
    .column-side {
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin-top:-524px;
        margin-right:-1.6px;
    }
} 

@media(min-width:382px) and (max-width:420px) { 
    .column-side {
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin-top:-524px;
        margin-right:-1.6px;
    }
} 

.column-side button {
    
    width: 24.9%;
    height: 70px;
    align-self: flex-end;
    margin-right:1.5px;
    background: #F9800F;
    color: #fff;
    transition:all .5s ease-in-out;
    opacity:.5;
}

@media(min-width:240px) and (max-width:301px) { 
    .column-side button {
        width: 24.9%;
        height:116px;
        align-self: flex-end;
        margin-right:1.5px;
        background: #F9800F;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}


@media(min-width:302px) and (max-width:320px) { 
    .column-side button {
        width: 24.9%;
        height:93px;
        align-self: flex-end;
        margin-right:1.5px;
        background: #F9800F;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:321px) and (max-width:360px) { 
    .column-side button {
        width: 24.9%;
        height:110px;
        align-self: flex-end;
        margin-right:1.5px;
        background: #F9800F;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:361px) and (max-width:380px) { 
    .column-side button {
        width: 24.9%;
        height:130px;
        align-self: flex-end;
        margin-right:1.5px;
        background: #F9800F;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:382px) and (max-width:420px) { 
    .column-side button {
        width: 24.9%;
        height:130px;
        align-self: flex-end;
        margin-right:1.5px;
        background: #F9800F;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

.column-side button:hover {
    opacity:1;
}

.row-numbers {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    
}

.row-numbers button {
    width:25%;
    height: 70px;
    margin-right:.5px;
    background: #171717;
    color: #fff;
    transition:all .5s ease-in-out;
    opacity:.5;
}

@media(min-width:240px) and (max-width:301px) { 
    .row-numbers button {
        width:25%;
        height:115px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:302px) and (max-width:360px) { 
    .row-numbers button {
        width:25%;
        height:93px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:361px) and (max-width:320px) { 
    .row-numbers button {
        width:25%;
        height:110px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:321px) and (max-width:360px) { 
    .row-numbers button {
        width:25%;
        height:110px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:361px) and (max-width:380px) { 
    .row-numbers button {
        width:25%;
        height:117px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

@media(min-width:362px) and (max-width:420px) { 
    .row-numbers button {
        width:25%;
        height:130px;
        margin-right:.5px;
        background: #171717;
        color: #fff;
        transition:all .5s ease-in-out;
        opacity:.5;
    }
}

.row-numbers button:hover {
    opacity:1;
}

.main-calc p {
    color: white;
    text-align: left;
    font-size:12px;
    letter-spacing:2px;
    font-family: monospace;
    text-align: center;
    margin-top:35px;
}

@media(max-width:420px) {
    .main-calc p#copyright {
    color: white;
    font-size:12px;
    letter-spacing:2px;
    font-family: monospace;
    text-align: center;
    margin-top:60px;
    animation: lettropacity 2s infinite;
    display: none;   
    }
}

@media(min-width:300px) and (max-width:320px) {
    .main-calc p#copyright {
    color: white;
    font-size:12px;
    letter-spacing:2px;
    font-family: monospace;
    text-align: center;
    margin-top:20px;
    animation: lettropacity 2s infinite;
    display: none;    
    }
}

@keyframes lettropacity {
    0% {
        opacity:0;
    }
    
    50% {
        opacity:.2
    }
    
    80% {
        opacity:.5;
    }
    
    100% {

        opacity:1;
    }
}

p.first-app {
    
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
    display: block;
}
.main-calc p > span, a#link {
    color: white;
    text-align: left;
    font-size:10px;
    letter-spacing:2px;
    font-family: monospace;
    animation: lettrSpceZoom 2s ease-in infinite;
    color: gold;
    left:0;
}

@media(max-width:420px) {
    .main-calc p > span, a#link {
    color: white;
    text-align: center;
    font-size:10px;
    letter-spacing:2px;
    font-family: monospace;
    animation: lettrSpceZoom 1s ease-in infinite;
    color: gold;
    left:0;
    margin:15px auto;
    display: none;
    }
}

a#link {
    text-decoration: none;
}

@media(max-width:420px) {
    a#link {
        text-decoration: none;
        /* display: block; */
        display: none;
    }
}

@keyframes lettrSpceZoom {
    0% {
        opacity:0;
    }
    
    50% {
        letter-spacing:3px;
        font-size:12px;
        opacity:.5
    }
    
    80% {
        letter-spacing:4px;
        font-size:13px;
        opacity:.6
    }
    
    100% {
        letter-spacing:5px;
        font-size:15px;
        opacity:1;
    }
}
